
:root {
  --myNavBarHeight: 120px;
  --pageHorizontalPadding: 0 100px;
  
  --table-border-color: #585858;
  --table-bg-color: rgb(159, 201, 242);
  --table-bg-darker-color: rgb(131, 166, 201);
  --table-border-radius: 5px;
  
  --left-bg-color:   #ECF1EF;
  --middle-bg-color: #ECF1EF;
  --right-bg-color:  #ECF1EF;
  /* --left-bg-color: rgb(170, 170, 170);
  --middle-bg-color: rgb(138, 255, 138);
  --right-bg-color: rgb(255, 255, 118); */
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(164, 233, 233);
  padding-top: 32px;
  display: flex;
}

/* ========================================== */
.my-navbar {
	width: 100%;
	padding: 12px;
}

.title-stuff {
	/* border: 2px solid red; */
	color: white !important;
	text-align: center;
}

/* ========================================== */
.App {
	height: 100%;
	/* border: 1px solid red; */
	/* display: flex; */
}

.spacer {
	height: 10px;
	width: 10px;
	/* background-color: aquamarine; */
}

.app-container {
  height: 100%;
  width: 100%;
  font-size: 0;
  display: flex;
}

.left, .middle, .right {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  padding: 10px;
}
.left {
  display: flex;
  width: 40%;
  background: var(--left-bg-color);
}
.middle {
  width: 30%;
  background: var(--middle-bg-color);
}
.right {
  display: flex;
  width: 30%;
  background: var(--right-bg-color);
}

/* ========================================== */
.subject-container {
	/* display: inline-block; */
	/* border-radius: var(--table-border-radius); */
}

.subject-button {
	background-color: var(--table-bg-darker-color);
	border: 1px solid var(--table-border-color);
	padding: 9px 12px;
	/* border-radius: 3px; */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

.subject-button:hover {
	filter: brightness(85%);
}

.subject-table {
	background-color: var(--table-bg-color);
	border: 1px solid var(--table-border-color);
	filter: brightness(85%);
	/* border-radius: var(--table-border-radius); */
}

.subject-table thead th {
	border-bottom: 2px solid var(--table-border-color);
}

.subject-table thead,
.subject-table tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.subject-table tr {
	background-color: var(--table-bg-color);
	border-bottom: 1px solid var(--table-border-color);
}

.subject-table th,
.subject-table td {
	text-align: left;
	padding: 0.5rem;
	/* border: 1px solid red; */
}



.subject-table thead {
	width: calc(100% - 0.8em);
	/* filter: brightness(85%); */
	/* display: block; */
	/* line-height: 0.5; */
}

.subject-table tbody {
	display: block;
	height: 500px;
	/* actual size doesn't matter? just larger than screen */
	overflow: auto;
	/* because of this */
}

/* ========================================== */
.semester-container {
}

.semester-table {
	background-color: var(--table-bg-color);
	outline: 1px solid var(--table-border-color);
	filter: brightness(85%);
	width: 80%;
	/* border-radius: var(--table-border-radius); */
}

.semester-table thead th {
	border-bottom: 2px solid var(--table-border-color);
}

.semester-table thead,
.semester-table tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.semester-table tr {
	background-color: var(--table-bg-color);
	border-bottom: 1px solid var(--table-border-color);
	box-sizing: border-box;
	/* display: inline-block; */
	/* display: table-cell; */
	/* align-self: flex-end; */
}

.semester-table th,
.semester-table td {
	text-align: left;
	padding: 0.5rem;
	/* border: 1px solid red; */
}



.semester-table thead {
	width: 100%;
	/* filter: brightness(85%); */
	/* display: block; */
	/* line-height: 0.5; */
}

.semester-table tbody {
	width: 100%;
	/* display: block; */
	/* display: table; */
	/* vertical-align: bottom; */
	display: flex;
	flex-direction: column-reverse;
	height: 500px;
	/* actual size doesn't matter? just larger than screen */
	overflow: auto;
	/* because of this */
}

/* ========================================== */

section {
	/* border: 1px solid var(--myTableBorderColor); */
	display: flex;
}

.my-container {
	display: flex;
}

.right div {
	box-shadow: none;
}

svg {
	/* box-shadow: none; */
	/* border: 1px solid red; */
}

/* ========================================== */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--table-bg-color);
  /* filter:brightness(); */
  /* opacity: 0.2; */
}

::-webkit-scrollbar-thumb {
  background: rgb(91, 91, 91);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}